@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --Cyan: hsl(179, 80%, 43%);
  --Light-Cyan: hsla(179, 80%, 43%, 0.774);
  --Bright-Yellow: hsl(71, 73%, 42%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
  --full-White: hsl(0, 0%, 100%);
  --white-Smoke: hsl(0, 0%, 96%);
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  height: 100vh;
  background-color: var(--white-Smoke);
  background-image: url("../images/pexels-henry-&-co-1939485.jpg");
}

.main-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  display: flex;
  flex-flow: column wrap;
  box-shadow: -7px 10px 32px -6px rgba(0, 0, 0, 0.5);
  background-color: var(--full-White);
  border-radius: 3%;
}

.card-Top {
  padding: 2em;
  & h2 {
    color: var(--Cyan);
  }

  & span {
    color: var(--Bright-Yellow);
  }

  & .text {
    color: var(--Grayish-Blue);
    line-height: 2rem;
  }
}

.body-card {
  display: flex;
  flex-flow: row;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  overflow: hidden;
}

.body-left,
.body-right {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  color: var(--full-White);
  width: 50%;
}

.body-right {
  background-color: var(--Light-Cyan);
  padding: 1em;

  & ul {
    width: 100%;
    padding: 0em;
  }

  & li {
    list-style: none;
    color: var(--Light-Gray);
    line-height: 1.4em;
  }
}

.body-left {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--Cyan);
  padding: 1em;
  margin: 0em;

  & .money-span {
    font-size: 1.5em;
  }

  & .duration-span {
    color: var(--Light-Gray);
    font-size: 0.9rem;
    margin-left: 0.5em;
    position: relative;
    bottom: 0.3rem;
  }

  .button-container {
    display: flex;
    width: 80%;
    position: relative;
    left: 1.5rem;

    & button {
      background-color: var(--Bright-Yellow);
      color: var(--full-White);
      padding: 0.5rem;
      width: 100%;
      border-style: none;
      border-radius: 4px;
      box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  body {
    height: auto;
  }

  .card {
    margin: 1em;

    & .card-Top {
      padding: 1em;
    }
  }

  .body-card {
    flex-flow: column;

    & div {
      width: auto;
    }
  }
}
